body {
    text-algin: center;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color: #565656;
}

.padbody {
    text-algin: center;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/bg.jpg) repeat-x top #fff;
    padding: 0px 0px 0px 0px;
    color: #6b6b6b;
}

h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, dl, dt, dd, form, label, ol, ul, li, legend, span, input {
    margin: 0;
    padding: 0;
}

ul, li, ol {
    list-style: none;
}

p {
    margin: 0px;
    padding: 0px;
    word-break: break-all;
}

img {
    border: 0px;
}

a {
    color: #565656;
    text-decoration: none;
}

    a:hover {
        color: #0a6737;
        border: none;
        *vertical-align: baseline;
    }

.clear {
    clear: both;
    padding: 0px;
    font-size: 0px;
    margin: 0px;
    height: 0px;
    display: block;
    border: none;
    overflow: hidden;
}

.clear1 {
    clear: both;
    height: 5px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
    border: none;
    overflow: hidden;
}

.clear2 {
    clear: both;
    height: 10px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
    border: none;
    overflow: hidden;
}

input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    _vertical-align: baseline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

input.submit1 {
    font-size: 12px;
    background-color: #6c9c0a;
    color: #fff;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 4px 0px 4px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    vertical-align: middle;
    vertical-align: baseline\9;
}

    input.submit1:hover {
        background: url(images/productinfo.png) repeat-x 0 -124px;
    }

input.submit2 {
    font-size: 8px;
    background: url(images/btn_bg.jpg) repeat-x bottom;
    color: #fff;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 12px;
    line-height: 8px;
    cursor: pointer;
    width: 12px;
    vertical-align: middle;
    *font-size: 12px;
}

a.submit2 {
    font-size: 12px;
    background: url(images/btn_bg.jpg) repeat-x bottom;
    color: #fff;
    border: none;
    margin: 1px 2px 0px 2px;
    padding: 0px 0px 0px 0px;
    height: 12px;
    line-height: 12px;
    cursor: pointer;
    width: 10px;
    vertical-align: middle;
    font-size: 12px;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

    a.submit2:hover {
        color: #fff;
        text-decoration: none;
    }

input.submit3 {
    font-size: 12px;
    background: #aaaaaa;
    color: #fff;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    vertical-align: middle;
    _vertical-align: top;
}

.box {
    width: 1000px;
    margin: auto;
}

.box2 {
    margin: auto;
}

.hide {
    display: none;
}

em {
    font-style: normal;
}

input {
    outline: none;
}

/*首页城市选择遮罩层*/
.indexshadow {
    font-size: 14px;
    width: 580px;
    background-color: #fff;
    border: 5px #767574 solid;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99999;
}

#screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    background-color: #666;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
}

.indexshadow .city_top {
    height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #DCDCDC;
    line-height: 50px;
}

    .indexshadow .city_top span {
        float: left;
        font-size: 12px;
        color: #000;
    }

    .indexshadow .city_top .taddress {
        padding: 0 10px 0 10px;
        height: 26px;
        line-height: 26px;
        background-image: -moz-linear-gradient(top, #65BC02, #6DC403); /*火狐*/
        background: -o-linear-gradient(top, #65BC02 0%,#6DC403 100%); /*Opera*/
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #65BC02), color-stop(1,#6DC403)); /*Chrome*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65BC02', endColorstr='#6DC403', GradientType='0'); /*IE*/
        background: -ms-linear-gradient(top,#65BC02 0%,#6DC403 100%); /*IE10以上*/
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0 0;
    }

        .indexshadow .city_top .taddress a {
            color: #FFF;
        }

.indexshadow .city_middle {
    margin: 0px 0px 5px 0px;
    padding-left: 10px;
}

    .indexshadow .city_middle ul li {
        width: 45px;
        height: 40px;
        line-height: 40px;
        float: left;
        text-align: center;
    }

        .indexshadow .city_middle ul li a {
            color: #0099FF;
        }

.indexshadow .city_bottom {
    margin: 5px 0px 0px 0px;
    padding-bottom: 10px;
}

    .indexshadow .city_bottom .quyu {
        float: left;
        text-align: center;
        height: 35px;
        line-height: 35px;
        width: 95px;
        border-top: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        color: #969696;
    }

    .indexshadow .city_bottom ul {
        width: 100%;
        *width: 480px;
        border-top: 1px solid #f5f5f5;
    }

        .indexshadow .city_bottom ul li {
            color: #333333;
            float: left;
            height: 35px;
            width: 50px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
        }

    .indexshadow .city_bottom .huadong .on {
        background: url(images/foot/icity_bg.png) center bottom no-repeat;
        color: #FFF;
        z-index: 2;
        position: relative;
        bottom: -1px;
    }

    .indexshadow .city_bottom .htcity {
        margin: 0 0 0 95px;
        width: 480px;
        overflow: hidden;
        z-index: 1;
        position: relative;
    }

        .indexshadow .city_bottom .htcity dl {
            text-align: center;
            width: 100%;
            float: left;
            background: #f9f9f9;
            border-top: 1px solid #69af05;
        }

            .indexshadow .city_bottom .htcity dl dd a {
                padding-left: 2px;
                text-align: center;
                width: 65px;
                height: 25px;
                line-height: 25px;
                overflow: hidden;
                float: left;
                text-decoration: none;
                color: #333333;
                display: block;
                font-size: 12px;
            }

                .indexshadow .city_bottom .htcity dl dd a:hover {
                    color: #669900;
                    text-decoration: none;
                }

                .indexshadow .city_bottom .htcity dl dd a.city-long {
                    padding-left: 2px;
                    text-align: center;
                    width: 132px;
                    height: 25px;
                    line-height: 25px;
                    overflow: hidden;
                    float: left;
                    text-decoration: none;
                    color: #333333;
                    display: block;
                }

                    .indexshadow .city_bottom .htcity dl dd a.city-long:hover {
                        color: #669900;
                        text-decoration: none;
                    }


/*----页头---*/
.mainNav {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: none;
    border-bottom: 2px solid #679800;
    height: 32px;
}

.navmenu {
    margin: 0px auto;
    color: #303437;
    padding: 0;
    width: 1200px;
    clear: both;
}

.catTag {
    background-color: #fa9600;
    color: white;
    position: absolute;
    z-index: 999;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    top: -8px;
}

    .catTag b {
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 0;
        border-left: 2px solid #fa9600;
        border-top: 2px solid #fa9600;
        border-right: 2px dashed white;
        border-bottom: 2px dashed white;
        position: absolute;
        left: 4px;
        top: 16px;
    }

#catTag_1 {
    left: 175px;
}

#catTag_2 {
    left: 275px;
}

#catTag_3 {
    left: 375px;
}

#catTag_4 {
    left: 475px;
}
/*公共头部品类菜单显示*/



/*弹窗*/
.window {
    width: 350px;
    border: 3px solid #e6e6e6;
    position: absolute;
    margin-left: -150px;
    margin-top: -150px;
    top: 50%;
    left: 50%;
    background: #fff;
}

    .window .content {
        padding: 20px 12px 12px 12px;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
    }

    .window .titlehead {
        background-color: #f5f5f5;
        height: 31px;
        line-height: 31px;
        border: 0 none;
    }

    .window h3 {
        width: 150px;
        float: left;
        margin: 0px;
        padding: 0px 0px 0px 16px;
        font-size: 14px;
        color: #565656;
        font-family: 微软雅黑;
    }

        .window h3 img {
            border: 0px;
            padding: 0px;
            margin: 0px;
        }

.carwindow {
    width: 340px;
    height: 90px;
    border: 1px solid #176246;
    position: absolute;
    top: 200px;
    left: 0;
    background: #fff;
    z-index: 999;
}

    .carwindow .content {
        padding: 12px 12px 12px 20px;
        text-align: center;
        line-height: 22px;
        height: 67px;
        overflow: hidden;
    }

    .carwindow .content1 {
        padding: 5px;
        text-align: left;
        line-height: 20px;
        border-top: #999 1px dashed;
        color: #804F21;
    }

    .carwindow .content img {
        float: left;
        margin: 14px 0px 0px 0px;
    }

    .carwindow .content ul {
        float: left;
        width: 260px;
    }

        .carwindow .content ul li {
            text-align: left;
            padding: 0px 0px 0px 20px;
            color: #804F21;
        }

            .carwindow .content ul li a {
                background: url(images/shopingcar_btnbg.gif) repeat-x scroll center top #8A683C;
                width: 75px;
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 0;
                border: 0;
                border: 1px solid #926E3E;
                margin: 0 12px 0 0;
                color: #ffffff;
                display: block;
                float: left;
            }

                .carwindow .content ul li a:hover {
                    background: url(images/shopingcar_btnbg.gif) repeat-x scroll center top #8A683C;
                    width: 75px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    padding: 0;
                    border: 0;
                    border: 1px solid #926E3E;
                    margin: 0 12px 0 0;
                    color: #ffffff;
                    display: block;
                    float: left;
                    text-decoration: none;
                }

            .carwindow .content ul li span a {
                background: url(images/shopingcar_btnbg.gif) repeat-x scroll center top #8A683C;
                width: 95px;
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 0;
                border: 0;
                border: 1px solid #926E3E;
                margin: 0 12px 0 0;
                color: #ffffff;
                display: block;
                float: left;
            }

                .carwindow .content ul li span a:hover {
                    background: url(images/shopingcar_btnbg.gif) repeat-x scroll center top #8A683C;
                    width: 95px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    padding: 0;
                    border: 0;
                    border: 1px solid #926E3E;
                    margin: 0 12px 0 0;
                    color: #ffffff;
                    display: block;
                    float: left;
                    text-decoration: none;
                }

            .carwindow .content ul li .pclose {
                background: none;
                width: 95px;
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 0;
                border: 0;
                margin: 0 12px 0 0;
                color: #804F21;
                display: block;
                float: left;
                text-decoration: underline;
            }

                .carwindow .content ul li .pclose:hover {
                    background: none;
                    width: 95px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    padding: 0;
                    border: 0;
                    margin: 0 12px 0 0;
                    color: #804F21;
                    display: block;
                    float: left;
                    text-decoration: underline;
                }

            .carwindow .content ul li span {
                color: red;
            }

            .carwindow .content ul li .submit1 {
                list-style-type: none;
                border-style: none;
                width: 65px;
                text-align: center;
                height: 22px;
                line-height: 18px;
                margin: 0;
                padding: 0 0 2px 0;
                border: 0;
                border: 1px solid #926E3E;
                overflow: hidden;
                margin-top: -1px;
            }

    .carwindow .content1 ul {
        width: 320px;
    }

    .carwindow .content1 li {
        float: left;
        width: 78px;
        text-align: center;
        color: #804F21;
        overflow: hidden;
        padding: 0 1px;
        clear: none;
    }

        .carwindow .content1 li a {
            border: 0;
            color: #804F21;
        }

        .carwindow .content1 li h3 {
            font-size: 12px;
            font-weight: normal;
            line-height: 20px;
            height: 20px;
            width: 80px;
            color: #804F21;
            overflow: hidden;
        }
/*加入购物车new*/
.carwindownew {
    width: 340px;
    border: 1px solid #176246;
    position: absolute;
    top: 200px;
    left: 0;
    background: #fff;
    z-index: 999;
}

    .carwindownew .content {
        padding: 12px 12px 12px 20px;
        text-align: center;
        line-height: 22px;
        height: 67px;
        overflow: hidden;
    }

    .carwindownew .content1 {
        padding: 5px;
        text-align: left;
        line-height: 20px;
        border-top: #999 1px dashed;
    }

    .carwindownew .content img {
        float: left;
        margin: 14px 0px 0px 0px;
    }

    .carwindownew .content ul {
        float: left;
        width: 260px;
    }

        .carwindownew .content ul li {
            text-align: left;
            padding: 0px 0px 0px 20px;
        }

            .carwindownew .content ul li a {
                background: url(images/btn_bg.jpg) repeat-x bottom #058a5f;
                width: 75px;
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 0;
                border: 0;
                border: 1px solid #01533c;
                margin: 0 12px 0 0;
                color: #ffffff;
                display: block;
                float: left;
            }

                .carwindownew .content ul li a:hover {
                    background: url(images/btn_bg.jpg) repeat-x bottom #058a5f;
                    width: 75px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    padding: 0;
                    border: 0;
                    border: 1px solid #058a5f;
                    margin: 0 12px 0 0;
                    color: #ffffff;
                    display: block;
                    float: left;
                    text-decoration: none;
                }

            .carwindownew .content ul li span a {
                background: url(images/shopingcar_btnbg.gif) repeat-x scroll center top #8A683C;
                width: 95px;
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 0;
                border: 0;
                border: 1px solid #926E3E;
                margin: 0 12px 0 0;
                color: #ffffff;
                display: block;
                float: left;
            }

                .carwindownew .content ul li span a:hover {
                    background: url(images/shopingcar_btnbg.gif) repeat-x scroll center top #8A683C;
                    width: 95px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    padding: 0;
                    border: 0;
                    border: 1px solid #926E3E;
                    margin: 0 12px 0 0;
                    color: #ffffff;
                    display: block;
                    float: left;
                    text-decoration: none;
                }

            .carwindownew .content ul li .pclose {
                background: none;
                width: 95px;
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 0;
                border: 0;
                margin: 0 12px 0 0;
                color: #804F21;
                display: block;
                float: left;
                text-decoration: underline;
            }

                .carwindownew .content ul li .pclose:hover {
                    background: none;
                    width: 95px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    padding: 0;
                    border: 0;
                    margin: 0 12px 0 0;
                    color: #804F21;
                    display: block;
                    float: left;
                    text-decoration: underline;
                }

            .carwindownew .content ul li span {
                color: red;
            }

            .carwindownew .content ul li .submit1 {
                list-style-type: none;
                border-style: none;
                width: 65px;
                text-align: center;
                height: 22px;
                line-height: 18px;
                margin: 0;
                padding: 0 0 2px 0;
                border: 0;
                border: 1px solid #926E3E;
                overflow: hidden;
                margin-top: -1px;
            }

    .carwindownew .content1 ul {
        width: 320px;
    }

    .carwindownew .content1 li {
        float: left;
        width: 78px;
        text-align: center;
        color: #ea5404;
        overflow: hidden;
        padding: 0 1px;
        clear: none;
    }

        .carwindownew .content1 li a {
            border: 0;
        }

        .carwindownew .content1 li h3 {
            font-size: 12px;
            font-weight: normal;
            line-height: 20px;
            height: 20px;
            width: 80px;
            color: #804F21;
            overflow: hidden;
        }
/*分页*/
.page {
    text-align: center;
    padding: 12px 12px 12px 12px;
    margin: 0px;
    clear: both;
}

    .page A {
        border-right: #176246 1px solid;
        padding-right: 5px;
        border-top: #176246 1px solid;
        padding-left: 5px;
        padding-bottom: 2px;
        margin: 2px;
        border-left: #176246 1px solid;
        color: #025e42;
        PADDING-TOP: 2px;
        BORDER-BOTTOM: #176246 1px solid;
        TEXT-DECORATION: none;
    }

        .page A:hover {
            BORDER-RIGHT: #999 1px solid;
            BORDER-TOP: #999 1px solid;
            BORDER-LEFT: #999 1px solid;
            COLOR: #4a2f24;
            BORDER-BOTTOM: #999 1px solid;
        }

        .page A:active {
            BORDER-RIGHT: #4a2f24 1px solid;
            BORDER-TOP: #4a2f24 1px solid;
            BORDER-LEFT: #4a2f24 1px solid;
            COLOR: #4a2f24;
            BORDER-BOTTOM: #4a2f24 1px solid;
        }

    .page .current {
        PADDING-RIGHT: 5px;
        PADDING-LEFT: 5px;
        FONT-WEIGHT: bold;
        PADDING-BOTTOM: 2px;
        MARGIN: 2px;
        COLOR: #fff;
        PADDING-TOP: 2px;
        BACKGROUND: url(images/btn_bg.jpg) repeat-x bottom #087d56;
        border: 1px solid #176246;
    }

    .page .disabled {
        BORDER-RIGHT: #dadada 1px solid;
        PADDING-RIGHT: 5px;
        BORDER-TOP: #dadada 1px solid;
        PADDING-LEFT: 5px;
        PADDING-BOTTOM: 2px;
        MARGIN: 2px;
        BORDER-LEFT: #dadada 1px solid;
        COLOR: #ddd;
        PADDING-TOP: 2px;
        BORDER-BOTTOM: #dadada 1px solid;
    }
/*订单成功*/
.newbox {
    border: 1px solid #dadada;
    background-color: #FFF;
    zoom: 1;
}

.newthead {
    height: 34px;
    line-height: 34px;
    background: #f5f5f5;
}

    .newthead h3 {
        font-size: 14px;
        font-weight: bold;
        color: #565656;
        padding: 0 10px;
    }

.newcont {
    text-align: center;
    padding: 50px 10px 10px 10px;
}

.newtxt1 {
    font-size: 18px;
    font-family: "微软雅黑";
    color: #6e9b0c;
    height: 39px;
    line-height: 39px;
    font-weight: bold;
    text-align: left;
    text-align: center;
}

.new_yes {
    background: url(images/dengluzhuceform.gif) no-repeat 0 -53px;
    padding: 5px 0 12px 54px;
}

.new_wrong {
    background: url(images/dengluzhuceform.gif) no-repeat 5px -95px;
    padding: 6px 0 4px 54px;
}

.newtxt2 {
    font-size: 14px;
    color: #666666;
    padding: 30px 0 0 0;
}

.newnomail {
    margin: 25px;
    color: #666666;
}

.newfc {
    color: #316ACA;
}

    .newfc a {
        color: #316ACA;
        text-decoration: underline;
    }

        .newfc a:hover {
            color: #316ACA;
        }

.new10s {
    font-size: 14px;
    color: #999999;
    font-family: "宋体";
    font-weight: normal;
}

.newgo {
    padding: 40px 100px;
    text-align: center;
    margin: 25px;
}

.newtxt4 {
    color: #996633;
    font-size: 14px;
}

.newlink {
    padding: 30px 10px 0 10px;
    font-size: 14px;
}

.newtxt5 {
    color: #666666;
    padding: 30px 0 0 0;
}

.newred {
    color: #fb8e19;
}

.newtbl {
    padding: 0px;
    margin: 0 100px 30px 100px;
}

.newdingdan th {
    height: 30px;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    background-color: #f5f5f5;
}

.newdingdan td {
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: #565656;
}

.newcont2 {
    text-align: center;
    padding: 10px 10px 0 10px;
    margin: 0 0 40px 0;
}

.payment td {
    padding: 6px;
}
/*付款成功*/
.newtxt6 {
    color: #666666;
    padding: 30px 0 0 0;
}

.newtxt7 {
    padding: 10px 10px 10px 25px;
    font-size: 14px;
    color: #176246;
    font-weight: bold;
    border-top: 1px solid #cccccc;
}
/*提交支付*/
.submitbox {
    width: 920px;
    border: 1px solid #eeeeee;
    padding: 40px;
    margin: 0 auto;
}

    .submitbox ul {
        margin: 0;
        padding: 0;
    }

        .submitbox ul li {
            list-style: none;
            padding: 12px;
            text-align: center;
        }

    .submitbox .titlehead3 {
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

#main {
    width: 1000px;
    margin: -5px auto auto auto;
    background: #ffffff;
}

.mailDY {
    margin-right: 6px;
    padding: 8px 0px 0px 0px;
}

.mailDYtit {
    overflow: hidden;
    zoom: 1;
}

    .mailDYtit h3 {
        font-size: 12px;
        float: left;
        color: #565656;
    }

    .mailDYtit span {
        float: right;
        color: #999999;
        padding: 0px 20px 0px 0px;
    }

        .mailDYtit span a:link {
            color: #999999;
            font-size: 12px;
        }

        .mailDYtit span a:visited {
            color: #999999;
        }

.mailDYitem {
    zoom: 1;
}

    .mailDYitem span {
        float: left;
    }

    .mailDYitem .i {
        width: 100px;
        height: 20px;
        line-height: 20px;
        padding: 0 2px;
        border: 1px solid #cccccc;
        margin-right: 2px;
        display: inline;
    }

    .mailDYitem .btn {
        background: url(images/footer_ico.jpg) no-repeat -146px -64px;
        height: 22px;
        width: 50px;
        border: 0;
        display: block;
    }

    .mailDYitem .s {
        height: 22px;
        border: 1px solid #cccccc;
        margin-right: 3px;
        display: inline;
    }

em {
    font-style: normal;
}

#store-selector .close, #store-selector_sfv .close, #store-selector1 .close {
    background: url(images/sf-stock.png) no-repeat 0 -70px;
    display: none;
    height: 17px;
    left: 345px;
    position: absolute;
    top: 35px;
    width: 17px;
    z-index: 2;
}

#store-selector .tips {
    line-height: 24px;
    color: red;
    padding: 0 3px 0 0;
}

#store-selector.hover .content, #store-selector.hover .close, #store-selector_sfv.hover .content, #store-selector_sfv.hover .close, #store-selector1.hover .content, #store-selector1.hover .close {
    display: block;
}

#store-selector.hover .close, #store-selector_sfv.hover .close, #store-selector1.hover .close {
    cursor: pointer;
}

#store-selector .content, #store-selector_sfv .content, #store-selector1 .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CECBCE;
    box-shadow: 0 0 5px #DDDDDD;
    display: none;
    left: -45px;
    padding: 15px;
    position: absolute;
    top: 25px;
    width: 390px;
}

#store-selector .juli1 {
    left: -250px;
}

#store-selector .juli2 {
    left: 140px;
}

.m, .mt, .mc {
    overflow: hidden;
}

.mt {
    cursor: default;
}

#store-selector, #store-selector_sfv, #store-selector1 {
    float: left;
    height: 26px;
    margin-right: 6px;
    position: relative;
    z-index: 91;
}

#store-selector_sfv {
    z-index: 90;
}

    #store-selector.hover .text, #store-selector_sfv.hover .text, #store-selector1.hover .text {
        border-bottom: 0 none;
        height: 25px;
        z-index: 1;
        width: auto;
    }

    #store-selector .text, #store-selector_sfv .text, #store-selector1 .text {
        background: #FFFFFF;
        border: 1px solid #CECBCE;
        float: left;
        height: 23px;
        line-height: 23px;
        overflow: hidden;
        padding: 0 20px 0 4px;
        position: relative;
        top: 0;
        font-size: 12px;
        font-weight: normal;
        width: auto;
    }

        #store-selector .text b, #store-selector_sfv .text b, #store-selector1 .text b {
            background: url(images/indexImg20130307.png?v=1.2) no-repeat -401px -2px;
            display: block;
            height: 24px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 17px;
        }

    #store-selector .area-list li, #store-selector_sfv .area-list li, #store-selector1 .area-list li {
        clear: none;
        padding: 2px 0 2px 15px;
        font-size: 12px;
    }

    #store-selector .tab li, #store-selector_sfv .tab li, #store-selector1 .tab li {
        clear: none;
        float: left;
        padding: 0;
    }

.SF-stock {
    position: relative;
    font-size: 12px;
}

    .SF-stock .tab {
        border-bottom: 1px solid #176246;
        float: left;
        height: 25px;
        overflow: visible;
        width: 100%;
        _overflow: hidden;
    }

        .SF-stock .tab a {
            color: #9e9e9e;
            border-top: 1px solid #DDDDDD;
            border-left: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
            cursor: pointer;
            float: left;
            height: 23px;
            line-height: 23px;
            margin-right: 3px;
            padding: 0 21px 1px 11px;
            position: relative;
            text-align: center;
        }

        *html .SF-stock .tab a {
            position: static;
        }

        .SF-stock .tab a {
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
        }

            .SF-stock .tab a:hover {
                color: #176246;
            }

            .SF-stock .tab a.hover {
                background-color: #FFFFFF;
                border-top: 1px solid #176246;
                border-left: 1px solid #176246;
                border-right: 1px solid #176246;
                color: #176246;
                height: 25px;
                line-height: 22px;
                padding: 0 20px 0 10px;
                text-decoration: none;
            }

            .SF-stock .tab a i {
                background-image: url(images/sf-stock.png);
                background-repeat: no-repeat;
            }

            .SF-stock .tab a i {
                background-position: 0 -35px;
                display: block;
                height: 5px;
                overflow: hidden;
                position: absolute;
                right: 4px;
                top: 10px;
                width: 7px;
            }

            .SF-stock .tab a:hover i {
                background-position: 0 -28px;
                right: 4px;
                top: 10px;
            }

.area-list {
    padding-top: 5px;
}

    .area-list li {
        clear: none;
        float: left;
        padding: 2px 0 2px 15px;
        width: 80px;
    }

        .area-list li a {
            float: left;
            padding: 2px 4px;
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            color: #565656;
        }

            .area-list li a:hover {
                background-color: #176246;
                color: #FFFFFF;
            }

    .area-list .longer-area {
        width: 370px;
    }

    .area-list .long-area {
        width: 170px;
    }

.sfregionTop {
    width: 400px;
    margin: 60px 10px 0px 40px;
}

.sfregionTxt {
    line-height: 26px;
    font-size: 14px;
}

.sfregionBuy {
    margin: 40px 10px 0px 180px;
}

#store-selector1 {
    height: 24px;
    margin-right: 3px;
}

    #store-selector1 .text {
        height: 20px;
        line-height: 20px;
    }

    #store-selector1 .area-list {
        padding: 5px 0 0 0;
    }

        #store-selector1 .area-list li {
            line-height: 20px;
            height: 20px;
            padding: 2px 0;
            width: 60px;
            overflow: hidden;
        }

    #store-selector1.hover .content {
        width: 300px;
    }

    #store-selector1 .close {
        left: 255px;
    }

    #store-selector1 .SF-stock ul.tab {
        padding: 0;
    }
/*更改地址前价格变化*/
.cartAddrPrice {
    position: absolute;
    height: 32px;
    width: 182px;
    right: 30px;
    top: 5px;
    _right: 40px;
}

    .cartAddrPrice .pTxt {
        position: absolute;
        background-color: #fcf8ef;
        border: 1px solid #f3e1b9;
        height: 23px;
        line-height: 23px;
        padding: 1px 5px;
        width: 170px;
        top: 15px;
        ;
        right: 0;
        color: red;
    }

    .cartAddrPrice b {
        position: absolute;
        background: url(images/cartbg.gif) no-repeat -140px -200px;
        width: 10px;
        height: 5px;
        top: 11px;
        right: 15px;
    }
/*page404*/
.error_cont {
    position: relative;
    padding: 0px 0px 20px 0px;
}

.error_box {
    background: #fff;
    padding: 12px;
    text-align: left;
    height: 180px;
    width: 900px;
    padding: 20px;
    margin: 20px 0px 0px 40px;
    line-height: 40px;
    font-family: "微软雅黑";
}

.error_tj {
    background: #fff;
    padding: 12px;
    text-align: left;
    width: 900px;
    padding: 20px;
    border: 1px solid #eee;
    margin: 20px 0px 0px 40px;
    line-height: 22px;
    font-family: "微软雅黑";
}

    .error_tj .title {
        border-bottom: 1px solid #eee;
        margin: auto;
        line-height: 20px;
        font-family: "微软雅黑";
        font-weight: bold;
        height: 22px;
        font-size: 14px;
    }

        .error_tj .title span {
            border-bottom: 2px solid #1b6147;
            height: 22px;
            display: block;
            width: 150px;
        }

.error_box h2 {
    font-size: 35px;
    color: #7c7c7c;
    padding: 50px 0px 0px 0px;
    margin: 0px;
}

.error_box a {
    font-size: 25px;
    color: #0000cc;
    text-decoration: underline;
}

    .error_box a:hover {
        text-decoration: none;
    }

.error_box p {
    font-size: 22px;
}

#totalSecond {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.error_box img {
    float: left;
    margin-right: 20px;
}

.left-arrow, .fl-pic, .right-arrow {
    float: left;
    display: inline;
    margin: 10px 0px 0px 0px;
}

.left-arrow, .right-arrow {
}

.left-arrow {
    background: url(<?php echo SF_STATIC_HTML_URL?>/images/404_03.jpg) no-repeat top left;
    margin-left: 15px;
    margin-top: 90px;
}

.right-arrow {
    background: url(<?php echo SF_STATIC_HTML_URL?>/images/404_05.jpg) no-repeat top left;
    margin-right: 0;
    margin-top: 90px;
}

.fl-pic {
    overflow: hidden;
    width: 800px;
    height: 250px;
    white-space: nowrap;
}

    .fl-pic ul {
        width: 3500px;
    }

        .fl-pic ul li {
            float: left;
            display: inline;
            margin: 0px 12px 0px 0px;
            width: 800px;
            height: 220px;
        }

            .fl-pic ul li .pic-box {
                float: left;
                display: inline;
                margin: 0px 8px 0px 0px;
                width: 150px;
                height: 220px;
                text-align: center;
            }

.left-arrow a, .right-arrow a {
    width: 15px;
    height: 23px;
    display: block;
    text-indent: -9999px;
}

.friend-Link {
    position: relative;
    margin: 0px;
    width: 900px;
    height: 280px;
}

.tj_title {
    font-size: 12px;
    width: 150px;
    height: 28px;
    overflow: hidden;
}

    .tj_title a {
        font-size: 12px;
        color: #606060;
    }

.tj_price {
    color: #ea5404;
    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    padding: 0px;
    text-align: left;
    width: 150px;
    height: 22px;
}

    .tj_price font {
        color: #999;
        font-family: "微软雅黑";
        font-size: 12px;
        text-decoration: line-through;
        padding: 0px 0px 0px 6px;
    }

.tj_shop_btn {
    text-align: left;
    width: 150px;
    margin: auto;
    height: 20px;
}

    .tj_shop_btn span {
        float: left;
        padding-right: 4px;
    }

.error_tj {
    height: 290px;
}

.pages {
    margin: 12px;
    text-align: right;
    font-size: 14px;
    padding: 0 0 10px 0;
}

    .pages a {
        border: 1px solid #dadada;
        color: #6b6b6b;
        margin: 2px;
        padding: 3px 6px;
        text-decoration: none;
    }

    .pages .pagedot {
        font-family: Arial;
        border: 1px solid #dadada;
        margin: 2px;
        padding: 3px 6px;
    }

    .pages .disabled {
        border: 1px solid #dadada;
        color: #DDDDDD;
        margin: 2px;
        padding: 3px 6px;
    }

    .pages .prev {
        position: relative;
        padding-left: 20px;
    }

    .pages .next {
        position: relative;
        padding-right: 20px;
    }

    .pages .prev .prevarr {
        border-width: 5px;
        border-color: #FFFFFF #ff0000 #FFFFFF #FFFFFF;
        border-style: dashed solid dashed dashed;
        height: 0;
        width: 0;
        font-size: 0;
        overflow: hidden;
        position: absolute;
        left: 4px;
        top: 6px;
    }

    *html .pages .prev .prevarr {
        top: 7px;
    }

    .pages .next .nextarr {
        border-width: 5px;
        border-color: #FFFFFF #FFFFFF #FFFFFF #ff0000;
        border-style: dashed dashed dashed solid;
        height: 0;
        width: 0;
        font-size: 0;
        overflow: hidden;
        position: absolute;
        right: 4px;
        top: 6px;
    }

    *html .pages .next .nextarr {
        left: 58px;
        top: 7px;
    }

    .pages .disabled .prevarr {
        border-color: #FFFFFF #dadada #FFFFFF #FFFFFF;
    }

    .pages .disabled .nextarr {
        border-color: #FFFFFF #FFFFFF #FFFFFF #dadada;
    }

    .pages a:hover {
        color: #176246;
        text-decoration: none;
    }

    .pages a:active {
        border: 1px solid #4A2F24;
        color: #4A2F24;
        text-decoration: none;
    }

    .pages .current {
        color: #6b6b6b;
        font-weight: bold;
        margin: 2px;
        padding: 3px 7px;
    }
